@import "./styles/fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

.font-inter-light {
  font-family: "Inter Light";
}

.font-inter-medium {
  font-family: "Inter Medium";
}
.font-inter-bold {
  font-family: "Inter Bold";
}
.font-inter-semibold {
  font-family: "Inter Semibold";
}
